

<div class="row mt-2">

    <div 
    class="card" class="col-2" 
    *ngFor="let song of (album$ | async)?.songList; let i=index" 
    (click)="playerService.setSong(i)"
    [ngClass]="{'selected': (song.id==(album$ | async)?.currentSong?.id) }"
    >
        <img [src]="song.image" class="card-img-top" [alt]="song.song">
        <div class="card-body">
          <p class="card-text">{{song.song}}</p>
          <p class="card-text">Duration {{song.duration}}</p>
        </div>
      </div>

</div>
